html {
    background-color: #030C15;
    font-family: Poppins, sans-serif;
}

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Gotham Header", sans-serif;
}

.back-btn{
    position: absolute;
    font-size: 35px;
}

.back-btn button {
    width: 70px;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    background-color: #a881ec;
    border: none;
    box-shadow: 0px 4px 0px rgb(0, 0, 0, 1);
    transition: all 0.3s ease;
}

.back-btn button:hover {
    background-color: #A528E1;
    box-shadow: none;
    transform: translate(0px, 4px);
}

.header h1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color: #a881ec;
    font-size: 50px;
}

h2 {
    font-size: 1.3em;
    color: #89C2EF;
    text-align: center;
    font-family: "Gotham Text", sans-serif;
    margin-bottom: 40px;
}

.leaderboard-table {
    margin: 20px auto;
    width: 80%;
}

.leaderboard-table table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: white;
}

.leaderboard-table th {
    background-color: #a881ec;
}

.animation-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.5;
    filter: blur(40px);
}